<section class="w3l-grids-3 py-5">
  <div class="container py-md-5">
    <div class="title-content text-left mb-lg-5 mb-4">
      <h6 class="sub-title">Visite</h6>
      <h3 class="hny-title">Destinations Populaires</h3>
    </div>
    <div class="row bottom-ab-grids">
      <!--/grilles-de-ligne-->
      <div class="col-lg-6 subject-card mt-lg-0 mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="assets/images/g1.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>Paris</h4>
                <p>3 jours, 4 nuits</p>
                <div class="dst-btm">
                  <h6 class="">À partir de</h6>
                  <span>1650 $</span>
                </div>
                <p class="sub-para">Par personne en chambre double</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 subject-card mt-lg-0 mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="assets/images/g2.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>Bangkok</h4>
                <p>3 jours, 4 nuits</p>
                <div class="dst-btm">
                  <h6 class="">À partir de</h6>
                  <span>1850 $</span>
                </div>
                <p class="sub-para">Par personne en chambre double</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--//grilles-de-ligne-->
      <!--/grilles-de-ligne-->
      <div class="col-lg-6 subject-card mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="assets/images/g3.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>Maldives</h4>
                <p>3 jours, 4 nuits</p>
                <div class="dst-btm">
                  <h6 class="">À partir de</h6>
                  <span>1350 $</span>
                </div>
                <p class="sub-para">Par personne en chambre double</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 subject-card mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="assets/images/g4.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>Grèce</h4>
                <p>3 jours, 4 nuits</p>
                <div class="dst-btm">
                  <h6 class="">À partir de</h6>
                  <span>1650 $</span>
                </div>
                <p class="sub-para">Par personne en chambre double</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--//grilles-de-ligne-->
      <!--/grilles-de-ligne-->
      <div class="col-lg-6 subject-card mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="assets/images/g5.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>Londres</h4>
                <p>3 jours, 4 nuits</p>
                <div class="dst-btm">
                  <h6 class="">À partir de</h6>
                  <span>1750 $</span>
                </div>
                <p class="sub-para">Par personne en chambre double</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 subject-card mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="assets/images/g6.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>Alpes Juliennes</h4>
                <p>3 jours, 4 nuits</p>
                <div class="dst-btm">
                  <h6 class="">À partir de</h6>
                  <span>1950 $</span>
                </div>
                <p class="sub-para">Par personne en chambre double</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--//grilles-de-ligne-->
      <!--/grilles-de-ligne-->
      <div class="col-lg-6 subject-card mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="assets/images/g7.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>Thaïlande</h4>
                <p>3 jours, 4 nuits</p>
                <div class="dst-btm">
                  <h6 class="">À partir de</h6>
                  <span>1750 $</span>
                </div>
                <p class="sub-para">Par personne en chambre double</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 subject-card mt-4">
        <div class="subject-card-header p-4">
          <a href="#" class="card_title p-lg-4d-block">
            <div class="row align-items-center">
              <div class="col-sm-5 subject-img">
                <img src="assets/images/g8.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                <h4>Singapour</h4>
                <p>3 jours, 4 nuits</p>
                <div class="dst-btm">
                  <h6 class="">À partir de</h6>
                  <span>1950 $</span>
                </div>
                <p class="sub-para">Par personne en chambre double</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!--//grilles-de-ligne-->
    </div>
  </div>
</section>
